<section ng-controller="HomeController">
  <section class="hero">
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="#"><img width="700px" src="modules/core/client/img/brand/logo2.png" alt="AddTrix logo"></a>
        <h2 class="animated fadeInDown">  Find best, unique ad-spaces and reach more targeted customers. </h2>
        <a href="/unique" class="use-btn animated fadeInUp">Unique spaces</a> <a href="#about" class="learn-btn animated fadeInUp">How It Works <i class="fa fa-arrow-down"></i></a>
      </div>
    </div>  
  </section>
  <section class="video" id="about">
    <div class="container">
      <div class="col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2 help-content text-copy navtree-content breadcrumbs-content text-center">
        <h1>
            How it Works
        </h1>     
        <ol class="list-unstyled getting-started-list getting-started-how-it-works ">
          <li class="panel row-space-6 step-a-community features-slider">
            <div class="panel-body ">
              <div class="row">
                <div class="col-7">
                  <h3><strong>Building a Community</strong>
                    
                  </h3>
                  <p>
                    It all began when co-founder of a hyperlocal delivery startup looking for more revenue inspite of increasing delivery service charges to his clients. So he started providing advertising sevice with his delivery startup by distributing coupens to targeted customers. It increased the revenue eventually. He wanted everyone should feel the same feeling when the revenue is increased, and with less marketing effort, reaching very targeted customers by click of button. 
                  </p>
                  <strong>
                    <a class="see-more" href="#" data-prevent-default="true">
                     
                    </a>
                  </strong>
                </div>
                <div class="col-3 illustration"></div>
              </div>
            </div>
          </li>
          <li class="panel row-space-6 step-a-community features-slider">
            <div class="panel-body">
              <div class="row">
                <div class="col-6">
                  <h3><strong>List and Book</strong>
                    
                  </h3>
                  <p>
                    People are encouraged to list their ad-space and increase their revenue. and Companies/Individuals are encouraged to market their brand. with less effort reach more targeted customers. With AddTrix analyse more data points on ad-space, and find the best suitable ad-space.
                  </p>
                  <strong>
                    <a class="see-more" href="#" data-prevent-default="true">
                     
                    </a>
                  </strong>
                </div>
                <div class="col-3 illustration"></div>
              </div>
            </div>
          </li>
          <li class="panel row-space-6 step-a-community features-slider">
            <div class="panel-body">
              <div class="row">
                <div class="col-6">
                  <h3><strong>Service that you can Trust</strong>
                    
                  </h3>
                  <p>
                    We are always engaged to improve the trust factors in AddTrix community. By verifying each and every listing personaly, and helping with the requirements of owner and customer.
                  </p>
                  <strong>
                    <a class="see-more" href="#" data-prevent-default="true">
                     
                    </a>
                  </strong>
                </div>
                <div class="col-3 illustration"></div>
              </div>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </section>  
    
     <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <h1 class="footer-logo">
            <img src="img/logo-blue.png" alt="ADDTRIX">
            </h1>
            <p>© ADDTRIX 2016 - Ashok Raj Productions</p>
          </div>
          <div class="col-md-7">
            <ul class="footer-nav">
              <li><a href="#about">About</a></li>
              <li><a href="#">Corporate Office </a><br/>T-Hub, IIIT-Hydrabad<br/> Gachibowli<br/> Hyderabad District<br/>Telangana, india</li>
         
            </ul>
          </div>
        </div>
      </div>
    </footer>
</section>
